@import './utils/mixins.scss';
@import './utils/variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
};

html {
    padding-bottom: 5vh;
    background-color: $color-primary;
};
  
@import './components/app';
@import './components/header';
@import './components/main';
@import './components/ranking';
@import './components/footer';